{{#each tracks}}
  <h1>{{artistName}}</h1>
  <h2 class="track-name" data-id="{{trackId}}">{{trackName}}</h2>
  <h3>{{albumName}}</h3>

  <div class="album-art" style = "background-image: url({{albumArtUrl}}); width="200" height="200">
{{/each}}
